@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
body{
  background-image: url(https://images.unsplash.com/photo-1497250681960-ef046c08a56e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Merriweather', serif;
  text-align: center;
}
nav{
    background-color: green;
}
nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  nav ul li{
    padding: 15px 10px;
    cursor: pointer;
  }
  nav ul li:hover{
    transform: scale(1.1);
  }
  .home{
    background-color: green;
}
a{
    text-decoration: none;
    color: aqua;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: green;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: rgb(128, 0, 0);
}

.sidenav .closebtn {
  position: absolute;
  top: 0.1;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  margin-left: 645px;
  padding-top: 2%;
  padding-bottom: 2%;
}
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(141, 100, 100, 0.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;   
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(37) 1s 1 normal both,
             blinkTextCursor 500ms steps(37) infinite normal;
             font-family: 'Anonymous Pro', monospace;  
             font-weight: 500;
             color:pink;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 240px;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgb(162, 0, 255);}
  to{border-right-color:rgb162, 0, 255;}
}
p{
  font-size: 25px;
  padding-left: 4%;
  padding-bottom: 4%;
  padding-left: 3%;
  padding-right: 3%;
  color: blue;
  font-weight: normal;
}
#video{
  align-items: center;
  margin-left: 400px;
  padding-bottom: 4%;
  padding-left: 3%;
  padding-right: 3%;
}
#toop{
  padding-right: 65%;
  margin-right: 30px;
  width: 40px;
  }
  #toop:hover{
    cursor: pointer;
  }
  @media only screen and (max-width:600px){
    nav{
      width: 100%;
      font-size: 9px;
  }
  .line-1{
    font-size: 20px;
  }
  #main{
    margin-left: 130px;
    font-size: 25px;
  }
  p{
    font-size: 15px;
  }
  #toop{
    display: none;
  }
} 